<style>
#announcement-banner,.alertHeader {padding:0;border-bottom:0;}
</style>
<style>
@import url(https://fonts.googleapis.com/css?family=Marcellus);

#announcement-banner, .alertHeader {
    padding: 0;
    border-bottom:0;
}
.cukbmodallaunch {
    position: fixed;
    z-index: 50;
    transform: rotate(90deg);
    top: 350px;
    right: -120px;
    display: block;
    height: 25px;
    width: 20% ;
    background-color: #000;
    color: #fff;
    font-family: Marcellus,serif;
    text-align:center;
    font-weight:500;
    border:1px solid #333;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-transform: uppercase;
}
.cukbmodal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .9);
    transition: opacity .25s ease;
}
.cukbmodal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.cukbmodal-state {
    display: none;
}
.cukbmodal-state:checked + .cukbmodal {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
}
.cukbmodal-state:checked + .cukbmodal .cukbmodal__inner {
    top: 0;
}
.cukbmodal__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em 3em 2em;
    height: 80%;
}
.cukbmodal__close {
    position: absolute;
    right: 0.5em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}
.cukbmodal__close:after,.cukbmodal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}
.cukbmodal__close:hover:after,.cukbmodal__close:hover:before {
    background: #aaa;
}
.cukbmodal__close:before {
    transform: rotate(-45deg);
}
.cukbmodal__embed {
    display: none;
}
.cukbmodal-return-landing {
    color: #b4d012;
}

/* Landing styling */
#cukbmodal__header {
    position: fixed;
    width: 80%;
    height: 60px;
    background-color: #000;
    color: #fff;
}
#cukbmodal__headerspacer {
  height: 1em;
  margin-top: -1em;
  background-color: #fff;
}
#cukbmodal__header #cukbmodal-search-container {
    height: 60px;
}
#cukbmodal__header img {
    float: right;
    height: 60px;
}
.cukbmodal-search-input {
    background-color: #000;
    color: #ccc;
    font-size: 1.25em;
    height: 58px;
    border: 0;
    margin-left: 0.5em;
}
.cukbmodal-search-input::-webkit-input-placeholder, .cukbmodal-search-input:-ms-input-placeholder { /* WebKit, Blink, Edge */
    color: #888;
}
.cukbmodal-search-input:-moz-placeholder, .cukbmodal-search-input::-moz-placeholder { /* Firefox 4+ */
    color: #888;
    opacity: 1;
}

/* Layout and common styling */
#cukbmodal__content {
    float: left;
    margin-top: 80px;
    width: 60%;
}
#cukbmodal__team {
    float: right;
    margin-top: 80px;
    max-width: 380px;
    width: 100%;
}
.cukbmodal-card {
    height: 170px;
    padding-top: 15px;
}
.cukbmodal-imgbacking {
    float:left;
    background-color: #fff;
    height: 140px;
    width: 180px;
}
.cukbmodal-content-card img, .cukbmodal-partner-card img {
    height: 140px;
    margin: 0 15px;
    float: left;
    border-radius: 70px;
}
.cukbmodal-last-updated, .cukbmodal-partner-details span, .cukbmodal-return-landing {
    text-transform: uppercase;
}
.cukbmodal__inner {
    font-family: "Open Sans", sans-serif;
}

/* Content card styles */
.cukbmodal-content-card {
    border-top: 1px solid #b4d012;
}
.cukbmodal-content-card:last-child {
    border-bottom: 1px solid #b4d012;
}
.cukbmodal__inner h1 {
    margin-top: 0;
}

/* Partner card styles */
.cukbmodal-partner-card {
    margin-top: 1px;
}
.cukbmodal-partner-details {
    height: 140px;
}
.cukbmodal-partner-details span {
    color: #333;
}
.cukbmodal-partner-details li {
    list-style-type: none;
}

/* Effects */
.cukbmodal-link, .cukbmodal-link:hover, .cukbmodal-partner-phone a, .cukbmodal-partner-email a {
    text-decoration: none;
    color: #000;
}
.cukbmodal-content-card:hover:nth-child(even), .cukbmodal-content-card:hover:nth-child(even) .cukbmodal-imgbacking {
    background-color: #b4d012;
    border-radius: 5px;
    transition: .5s ease-in-out;
}
.cukbmodal-content-card:hover:nth-child(odd), .cukbmodal-content-card:hover:nth-child(odd) .cukbmodal-imgbacking {
    background-color: #ddd;
    border-radius: 5px;
    transition: .5s ease-in-out;
}
</style>

<label class="cukbmodallaunch" id="cukbmodallaunchlabel" for="cukbmodal">Clayton Utz Knowledge</label>
    <input class="cukbmodal-state" id="cukbmodal" type="checkbox"></input>
    <div class="cukbmodal" id="cukbmodalcontent">
        <label class="cukbmodal__bg" for="cukbmodal"></label>
        <label class="cukbmodal__close" for="cukbmodal"></label>
        <div class="cukbmodal__inner" id="cukbmodal__inner">
            <div id="cukbmodal__landing">
                <div id="cukbmodal__header">
                <div id="cukbmodal__headerspacer"></div>
                <img alt="Clayton Utz Logo" src="https://www.claytonutz.com/Images/UserUploadedImages/11/clayton_utz.png">
                <span id="cukbmodal-search-container">
                    <input name="CUKnowledgeSearch" maxlength="100" id="cukbmodal-search" class="cukbmodal-search-input" autocomplete="off" placeholder="Start typing to search..." type="text">
                </span>
                <div class="button-spinner"></div>
            </div>
            <section id="cukbmodal__content">
                <h1>Knowledge Management</h1>
                <div id="cukbthinking" class="cukbmodal-content-card cukbmodal-card" onMouseOver='document.getElementById("cukbModalFrame").src="https://www.claytonutz.com//CustomSearch.aspx?ModuleID=16953&keywords=&Searchfolder=knowledge&dt1=&dt2=&NoKeyw=true&SearchTax=81%2c67&SortBy=KDesc";' onclick='document.getElementById("cukbmodal__embed").style.display="block";document.getElementById("cukbmodal__landing").style.display="none";'>
                    <div class="cukbmodal-imgbacking">
                        <img src="https://polysol.com.au/s/man.png">
                    </div>
                    <h1>Our latest thinking</h1>
                    <p>Read our latest insights, publications and thought leadership pieces on the topics that matter most to you and your team. </p>
                    <p><span class="cukbmodal-last-updated">Last Updated: 14/Nov/2016</span></p>
                </div>
                <div id="cukbmodal-precedents" class="cukbmodal-content-card cukbmodal-card" onMouseOver='document.getElementById("cukbModalFrame").src="https://www.claytonutz.com//CustomSearch.aspx?ModuleID=16953&keywords=&Searchfolder=knowledge&dt1=&dt2=&NoKeyw=true&SearchTax=81%2c67&SortBy=KDesc";' onclick='document.getElementById("cukbmodal__embed").style.display="block";document.getElementById("cukbmodal__landing").style.display="none";'>
                    <div class="cukbmodal-imgbacking">
                        <img src="https://polysol.com.au/s/shared-folder.png">
                    </div>
                    <h1>Precedents</h1>
                    <p>Access the latest precedents to help save time for you and your team. Our precedents are regularly updated to account for recent AAT decisions and regulatory updates. </p>
                    <p><span class="cukbmodal-last-updated">Last Updated: 13/Nov/2016</span></p>
                </div>
                <div id="cukbmodal-subscriptions" class="cukbmodal-content-card cukbmodal-card" onMouseOver='document.getElementById("cukbModalFrame").src="https://cletv.claytonutz.com/login/userLogin";' onclick='document.getElementById("cukbmodal__embed").style.display="block";document.getElementById("cukbmodal__landing").style.display="none";'>
                    <div class="cukbmodal-imgbacking">
                        <img src="https://polysol.com.au/s/tablet-touch-screen.png">
                    </div>
                    <h1>Subscriptions</h1>
                    <p>Access premium content only available to key clients, including subscriptions, CU CLE TV, legislation and case law trackers, media alerts and more. </p>
                    <p><span class="cukbmodal-last-updated">Last Updated: 13/Nov/2016</span></p>
                </div>
                <div id="cukbmodal-contact-us" class="cukbmodal-content-card cukbmodal-card">
                    <div class="cukbmodal-imgbacking">
                        <img src="https://polysol.com.au/s/live-chat.png">
                    </div>
                    <h1>Contact Us</h1>
                    <p>Need extra support? Contact us if you'd like to discuss fixed fee options for decision drafting, AAT hearings or secondment arrangements, across all levels. </p>
                </div>
            </section>
            <section id="cukbmodal__team">
                <h1>Key Contacts</h1>
                <div class="cukbmodal-partner-card cukbmodal-card">
                    <div class="cukbmodal-imgbacking">
                        <a class="cukbmodal-link" href="https://www.claytonutz.com/people/caroline-bush">
                            <img src="https://www.claytonutz.com/Images/UserUploadedImages/261/BushCaroline-251.jpg" alt="Caroline Bush">
                        </a>
                    </div>
                    <div class="cukbmodal-partner-details">
                        <h3 class="cukbmodal-partner-name">
                            <a class="cukbmodal-link" href="https://www.claytonutz.com/people/caroline-bush">Caroline Bush </a>
                        </h3>
                        <span>Partner, Canberra</span>
                        <div class="cukbmodal-partner-contact-details">
                            <ul>
                                <li class="cukbmodal-partner-phone">
                                    <a href="tel:+61 2 6279 4029">+61 2 6279 4029</a>
                                </li>
                                <li class="cukbmodal-partner-email">
                                    <a href="mailto:cbush@claytonutz.com">cbush@claytonutz.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cukbmodal-partner-card cukbmodal-card">
                    <div class="cukbmodal-imgbacking">
                        <a class="cukbmodal-link" href="https://www.claytonutz.com/people/john-carroll">
                            <img src="https://www.claytonutz.com/images/UserUploadedImages/261/CarrollJohn-213.jpg" alt="John Carroll">
                        </a>
                    </div>
                    <div class="cukbmodal-partner-details">
                        <h3 class="cukbmodal-partner-name">
                            <a class="cukbmodal-link" href="https://www.claytonutz.com/people/john-carroll">John Carroll </a>
                        </h3>
                        <span>Partner, Canberra</span>
                        <div class="cukbmodal-partner-contact-details">
                            <ul>
                                <li class="cukbmodal-partner-phone">
                                    <a href="tel:+61 2 6279 4006">+61 2 6279 4006</a>
                                </li>
                                <li class="cukbmodal-partner-email">
                                    <a href="mailto:jcarroll@claytonutz.com">jcarroll@claytonutz.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cukbmodal-partner-card cukbmodal-card">
                    <div class="cukbmodal-imgbacking">
                        <a class="cukbmodal-link" href="https://www.claytonutz.com/people/barry-dunphy">
                            <img src="https://www.claytonutz.com/images/UserUploadedImages/261/DunphyBarry-12223.jpg" alt="Barry Dunphy">
                        </a>
                    </div>
                    <div class="cukbmodal-partner-details">
                        <h3 class="cukbmodal-partner-name">
                            <a class="cukbmodal-link" href="https://www.claytonutz.com/people/barry-dunphy">Barry Dunphy </a>
                        </h3>
                        <span>Partner, Brisbane</span>
                        <div class="cukbmodal-partner-contact-details">
                            <ul>
                                <li class="cukbmodal-partner-phone">
                                    <a href="tel:+61 7 3292 7020">+61 7 3292 7020</a>
                                </li>
                                <li class="cukbmodal-partner-email">
                                    <a href="mailto:bdunphy@claytonutz.com">bdunphy@claytonutz.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cukbmodal-partner-card cukbmodal-card">
                    <div class="cukbmodal-imgbacking">
                        <a class="cukbmodal-link" href="https://www.claytonutz.com/people/cain-sibley">
                            <img src="https://www.claytonutz.com/Images/UserUploadedImages/261/SibleyCain-18308.jpg" alt="Cain Sibley">
                        </a>
                    </div>
                    <div class="cukbmodal-partner-details">
                        <h3 class="cukbmodal-partner-name">
                            <a class="cukbmodal-link" href="https://www.claytonutz.com/people/cain-sibley">Cain Sibley </a>
                        </h3>
                        <span>Partner, Canberra</span>
                        <div class="cukbmodal-partner-contact-details">
                            <ul>
                                <li class="cukbmodal-partner-phone">
                                    <a href="tel:+61 2 6279 4044">+61 2 6279 4044</a>
                                </li>
                                <li class="cukbmodal-partner-email">
                                    <a href="mailto:csibley@claytonutz.com">csibley@claytonutz.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div><!-- /.cukbmodal__landing -->
        <div class="cukbmodal__embed" id="cukbmodal__embed">
            <div class="cukbmodal-return-landing cukbmodal-link">
                <a href="" onclick='document.getElementById("cukbmodal__embed").style.display="none";document.getElementById("cukbmodal__landing").removeAttr("style");'>
                    <span>&#9664; BACK</span>
                </a>
            </div>
            <iframe id="cukbModalFrame" name="cukbModalFrame" style="border: 0; width:100%; height: 82vh;"></iframe>
        </div>
    </div><!-- /.cukbmodal__inner -->
 
</div><!-- /.cukbmodal -->

<script>
AJS.$(document).ready(function(){
    AJS.$("<div style='height: 55px;'><a href='https://www.claytonutz.com/'><img alt='Clayton Utz Logo' src='https://www.polysol.com.au/s/320pxCULogo.png' style='opacity: 0.75; filter: alpha(opacity=50); width: 110px; transform: translateY(45px);'></a></div>").insertAfter(AJS.$("#footer-logo"));
})
</script>

<!--Start of Freshchat Script-->
<script type='text/javascript'>var fc_JS=document.createElement('script');fc_JS.type='text/javascript';fc_JS.src='https://assets1.freshchat.io/production/assets/widget.js?t='+Date.now();(document.body?document.body:document.getElementsByTagName('head')[0]).appendChild(fc_JS); window._fcWidgetCode='jBAYqMBk';window._fcURL='https://polysol.freshchat.io';</script>
<!--End of Freshchat Script-->